/* Globale elementer */

:root {
  --fontbase: Arial, Helvetica, sans-serif;
  --fontcolor: #f9f9f9;
}

* {
  margin: 0;
}

body {
  background-color: rgb(180, 200, 230);
}

p,
a,
h1,
h2 {
  font-family: var(--fontbase);
  color: var(--fontcolor);
}

a {
  cursor: pointer;
}

/* MENU */

nav {
  position: fixed;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

nav #logo {
  width: 50px;
}

nav .elm {
  padding: 5vw;
}

nav .elm a {
  margin: 10px;
  color: #f9f9f9;
  text-decoration: none;
  font-family: var(--fontbase);
}

/* SPLASH */

#splash {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #d1929b;
  display: grid;
}

#splash h1 {
  margin: 4em 0 0 7vw;
  font-family: var(--fontbase);
  color: var(--fontcolor);
  font-size: 2rem;
}

#splash #portrait {
  width: 70vw;
  position: relative;
  left: 30%;
  animation: wave_kf 0.9s infinite ease-in-out alternate;
  transform-origin: 60% 60%;
}

#splash #arrow_down {
  width: 8vw;
  margin: auto;
  padding: 2em;
}

@keyframes wave_kf {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(11deg);
  }
}

#splash p {
  margin: 0 0 0 7vw;
  font-family: var(--fontbase);
  color: var(--fontcolor);
  font-size: 1rem;
}

/* WORK SECTION */

#work {
  height: 100%;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 6em;
  padding: 2em;

  /*   display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 2em 1em;
  place-items: center;
  grid-template-areas:
    "work1 ."
    ". work2"
    "work3 ."
    ". work4"; */
}

.project {
  width: auto;
  width: 100%;
  height: 40vw;
  background-color: rgb(136, 136, 136);
  z-index: 3;
}

#work1,
#work3 {
  grid-column-start: 1;
  grid-column-end: 3;
}

#work2,
#work4 {
  grid-column-start: 2;
  grid-column-end: 4;
}

/* .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
 */

/* Animation on path */

#line-svg {
  position: absolute;
  top: 100vh;
  width: 100vw;
  pointer-events: none;
  z-index: 2;
}

/* ABOUT */

#about {
  overflow: hidden;
}

#content {
  width: 80%;
  margin: auto;
}

#name {
  align-content: center;
  font-size: 21vw;
  text-align: center;
  opacity: 0.5;
  margin: 0.3em auto;
}

#name p:nth-child(2) {
  letter-spacing: 2vw;
}

#text {
  display: grid;
  gap: 2em;
  padding-top: 85px;
}

#stay_in_touch {
  display: grid;
  gap: 20px;
  background-color: #ded3e6;
  height: 20vh;
  align-content: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}

#stay_in_touch p,
#stay_in_touch #icons {
  padding-left: 10%;
}

#stay_in_touch p {
  color: white;
  font-size: 1.4em;
}

#stay_in_touch #icons {
  display: flex;
  gap: 12px;
}

#stay_in_touch img {
  width: 50px;
}

/* SIGLEVIEW */

.the_container {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  perspective: 2px;
}

#header {
  height: 65vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transform-style: preserve-3d;
}

#title {
  font-size: 36px;
  color: red;
  transform: translateZ(-3px) scale(2.5);
  align-self: center;
  background: beige;
  width: 100%;
  height: 100%;
  display: grid;
  margin-top: -120vw;
  place-items: center;
}

.the_project {
  position: relative;
  background-color: rgb(180, 200, 230);
}

.intro {
  width: 80%;
  margin: auto;
  display: grid;
  gap: 2em;
}

.intro p,
.intro a {
  margin: 1.5em 0 1.5em 0;
}

.info {
  border-top: 1px solid white;
}

.images {
  padding: 1em;
}

.images img {
  width: 100%;
}

@media only screen and (min-device-width: 768px) {
  /* Menu */

  nav {
    height: 100px;
  }
  nav #logo {
    width: 4em;
  }

  /* SPLASH */

  #splash #portrait {
    width: 40vw;
    left: 48%;
  }

  #splash #arrow_down {
    width: 3em;
  }

  /* ABOUT */

  #content {
    width: 90%;
  }

  #name {
    display: flex;
    gap: 3vw;
    font-size: 12vw;
    margin-top: 8vw;
  }

  #name p:nth-child(2) {
    letter-spacing: 0;
  }

  #text {
    grid-template-columns: 1.1fr 1fr;
    gap: 5em;
    font-size: 1.2em;
    padding-top: 150px;
  }

  #stay_in_touch {
    height: 20vh;
  }

  #stay_in_touch p,
  #stay_in_touch #icons {
    padding-left: 5%;
  }

  /* Singleview */

  /* header */

  #header {
    height: 450px;
  }

  #title {
    margin-top: -510px;
  }

  .intro {
    height: 60vh;
    align-content: center;
    grid-template-columns: 2fr 1fr;
  }

  .about {
    width: 80%;
  }

  .info {
    border-top: 0;
    border-left: 1px solid white;
    padding-left: 2em;
  }

  /* fade in */
  .fade_in {
    animation: fadein_kf 1.5s both;
  }
  @keyframes fadein_kf {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media screen and (min-device-width: 1200px) {
  /* SPLASH */

  #splash #portrait {
    width: 30vw;
    left: 60%;
  }

  #splash #arrow_down {
    width: 3em;
    margin: auto;
  }

  /* Singleview */

  /* header */

  #header {
    height: 380px;
  }

  #title {
    margin-top: -400px;
  }

  .intro {
    height: 60vh;
    align-content: center;
    grid-template-columns: 2fr 1fr;
  }

  .intro {
    grid-template-columns: 2fr 1fr;
  }
}
