/* Globale elementer */

:root {
  --fontbase: Arial, Helvetica, sans-serif;
  --fontcolor: #606c87;
  --background: rgb(249 251 253);
}

* {
  margin: 0;
}

body {
  /* background-color: rgb(180, 200, 230); */
  background-color: var(--background);
  padding: 0;
  cursor: none;
}

.cursor {
  position: absolute;
  width: 16px;
  height: 16px;
  top: -20px;
  left: -20px;
  border-radius: 50%;
  background-color: var(--fontcolor);
  z-index: 200;
  pointer-events: none;
  animation: hover_in_kf 0.5s forwards;
}

.hover {
  animation: hover_out_kf 0.5s forwards;
}

@keyframes hover_in_kf {
  0% {
    transform: scale(1.8);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes hover_out_kf {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.8);
    opacity: 0.6;
  }
}

p,
a,
h1,
h2 {
  font-family: var(--fontbase);
  color: var(--fontcolor);
}

h1 {
  font-weight: 200;
}

h2 {
  text-align-last: center;
  letter-spacing: 5px;
  font-size: 2.2em;
  text-transform: uppercase;
  padding: 1em;
  font-weight: 200;
}

a {
  cursor: none;
}

.the_project a:hover,
#cv:hover {
  color: #22394d;
}

/* MENU */

nav {
  position: fixed;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

nav #logo {
  width: 50px;
  transition: transform 0.1s ease-in;
}

nav #logo:hover {
  transform: scale(1.1) rotate(20deg);
}

nav .elm {
  margin: 5vw;
}

nav .elm a {
  margin: 10px;
  color: var(--fontcolor);
  text-decoration: none;
  font-family: var(--fontbase);
}

nav .elm a:hover {
  color: #22394d;
}

/* SPLASH */

#splash {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  /* background-color: #dda9a7; */
  background-color: rgb(180, 200, 230);
  display: grid;
}

#splash div {
  width: 80%;
  justify-self: center;
  margin-top: 20vh;
}

#splash h1 {
  font-family: var(--fontbase);
  color: var(--fontcolor);
  font-size: 2rem;
}

#splash #portrait {
  width: 70vw;
  animation: wave_kf 0.9s infinite ease-in-out alternate;
  transform-origin: 60% 60%;
  padding: 1em 4em;
}

@keyframes wave_kf {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(11deg);
  }
}

#splash p {
  font-family: var(--fontbase);
  color: var(--fontcolor);
  font-size: 1rem;
  line-height: 1.25em;
  width: 80%;
}

#splash #arrow_down {
  width: 8vw;
  margin: auto;
  padding: 2em;
}

/* WORK SECTION */

#work {
  height: 100%;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 3em;
  padding: 2em;
}

#work h2 {
  grid-column: span 3;
  text-align: center;
}

.project {
  width: 100%;
  z-index: 3;
  text-decoration: none;
}

.project img {
  width: 100%;
  max-height: 70vh;
  object-fit: contain;
}

.project p {
  font-family: var(--fontbase);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.7em;
  text-align: center;
  padding: 0.6em 0 0 0;
}

.left {
  grid-column-start: 1;
  grid-column-end: 3;
}

.right {
  grid-column-start: 2;
  grid-column-end: 4;
}

.letter {
  display: inline-block;
}

/* Animation on path */

#line-svg {
  position: absolute;
  top: 98vh;
  width: 100vw;
  pointer-events: none;
  z-index: -1;
}

#guideline {
  stroke: rgb(172 201 163);
  stroke-width: 5px;
}

#to_top {
  display: grid;
  width: 5em;
  justify-items: center;
  text-align: center;
  gap: 5px;
  float: right;
  margin-top: 50px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#to_top img {
  padding-right: 5px;
  width: 1.6em;
}

/* ABOUT */

#about {
  background-color: rgb(180, 200, 230);
}

#content {
  width: 80%;
  margin: auto;
}

#name {
  align-content: center;
  font-size: 21vw;
  text-align: center;
  opacity: 0.5;
  margin: 0.3em auto;
}

#name p:nth-child(2) {
  letter-spacing: 2vw;
}

#text {
  display: grid;
  gap: 2em;
  padding-top: 85px;
}

#stay_in_touch {
  display: grid;
  gap: 20px;
  background-color: #eeddef;
  height: 20vh;
  align-content: center;
  width: 100%;
}

#stay_in_touch p,
#stay_in_touch #icons {
  padding-left: 10%;
}

#stay_in_touch p {
  color: var(--fontcolor);
  font-size: 1.4em;
}

#stay_in_touch #icons {
  display: flex;
  gap: 12px;
}

#stay_in_touch img {
  width: 35px;
}

/* SIGLEVIEW */

.the_container {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  perspective: 2px;
  /* padding-top: 120px; */
}

#header {
  height: 65vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transform-style: preserve-3d;
  margin-bottom: -25px;
}

#title {
  font-size: 3.2em;
  color: #9594c4;
  transform: translateZ(-3px) scale(2.5);
  align-self: center;
  width: 100%;
  height: 100%;
  display: grid;
  margin-top: -120vw;
  place-items: center;
  font-family: var(--fontbase);
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}

#title.hogwarts {
  background-color: #cec6db;
  color: #171a35;
}

#title.liiro {
  background-color: #e3d9b6;
  color: #47503f;
}

#title.portfolio01 {
  background-color: rgb(250 242 246);
  color: rgb(64 100 60);
}

#title.bike {
  background-color: rgb(223 214 201);
  color: #6c836c;
}

#title.art {
  background-color: rgb(236 227 202);
  color: #7692cc;
}

#title.one-minute {
  background-color: #cacdc9;
  color: #5d7a99;
}

#title.game {
  background-color: #b2d7e9;
  color: #b34f92;
}

.the_project {
  position: relative;
  background-color: var(--background);
}

.intro {
  width: 80%;
  margin: auto;
  display: grid;
  gap: 2em;
}

.intro p,
.intro a {
  margin: 1.5em 0 1.5em 0;
}

.info {
  border-top: 1px solid var(--fontcolor);
}

.images {
  padding: 1em;
  width: 80%;
  margin: auto;
}

.images img,
.images video {
  width: 100%;
  margin-bottom: 2em;
}

.other_projects {
  display: flex;
  justify-content: center;
  gap: 5em;
  margin: 2em;
}

.other_projects a {
  text-decoration: none;
}

/* Liiro */

#moodboards_liiro p {
  text-align: right;
  font-style: oblique;
  margin-top: -45px;
  margin-bottom: 2em;
}

.content_liiro {
  display: grid;
  background: #e3d9b6;
  padding: 2em;
  gap: 2em;
  align-items: center;
  margin-bottom: 2em;
}

.content_liiro img {
  margin-bottom: 0;
}

/* ART */

#art .colomns {
  margin-bottom: 1em;
}

#art .colomns:nth-child(2) {
  padding: 1.5em;
  background-color: #ddddd7;
}

#art .colomns:nth-child(3) {
  padding: 1.5em;
  background-color: #ede3ca;
}

@media only screen and (min-device-width: 768px) {
  /* Menu */

  nav {
    height: 100px;
  }
  nav #logo {
    width: 4em;
  }

  /* SPLASH */

  #splash div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
  }

  #splash #portrait {
    width: 20em;
    padding: 0;
    justify-self: center;
  }

  #splash p {
    font-size: 1.1em;
    width: 120%;
  }

  #splash #arrow_down {
    width: 3em;
  }

  .project {
    width: 80%;
    margin: auto;
  }

  .project p {
    font-size: 1em;
    padding: 1em 0 0 0;
  }

  /* ABOUT */

  #content {
    width: 80%;
  }

  #name {
    display: flex;
    gap: 3vw;
    font-size: 10.5vw;
    margin-top: 5.5vw;
  }

  #name p:nth-child(2) {
    letter-spacing: 0;
  }

  #text {
    grid-template-columns: 1.1fr 1fr;
    gap: 5em;
    font-size: 1.2em;
    padding-top: 150px;
  }

  #stay_in_touch {
    height: 20vh;
  }

  #stay_in_touch.about {
    position: absolute;
    bottom: 0;
  }

  #stay_in_touch p,
  #stay_in_touch #icons {
    padding-left: 5%;
  }

  /* Singleview */

  /* header */

  .the_container::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }

  #header {
    height: 350px;
  }

  #title {
    margin-top: -350px;
  }

  .intro {
    height: 60vh;
    align-content: center;
    grid-template-columns: 2fr 1fr;
  }

  .about {
    width: 80%;
  }

  .info {
    border-top: 0;
    border-left: 1px solid var(--fontcolor);
    padding-left: 2em;
  }

  /* fade in */
  .fade_in {
    animation: fadein_kf 1.5s both;
  }
  @keyframes fadein_kf {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* LIIRO */
  .content_liiro {
    grid-template-columns: repeat(3, 1fr);
  }

  /* ART */
  #art.images {
    display: grid;
    gap: 2em;
  }
  #art .colomns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
    padding: 2.5em;
  }

  #art img {
    margin-bottom: 0;
  }
}

@media screen and (min-device-width: 1200px) {
  /* SPLASH */

  #splash #portrait {
    width: 23em;
  }

  #splash h1 {
    font-size: 3.5em;
    align-self: center;
  }

  #splash p {
    font-size: 1.1em;
    width: 85%;
    margin-top: -120px;
  }

  #splash #arrow_down {
    width: 3em;
    margin: auto;
  }

  #left p,
  #right p {
    font-size: 4em;
    top: -80px;
    left: -50px;
  }

  .project {
    width: 70%;
    margin: auto;
    padding: 2em;
    border: 3px solid transparent;
  }

  .project:hover {
    border: 3px solid rgb(180, 200, 230);
  }

  /* Singleview */

  /* header */

  #header {
    height: 380px;
  }

  #title {
    margin-top: -400px;
  }

  .intro {
    height: 50vh;
    align-content: center;
    grid-template-columns: 2fr 1fr;
  }

  .intro {
    grid-template-columns: 2fr 1fr;
  }
}
